<h1>Add Blog</h1>
<form action="add-blog" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Post title</label>
    <input type="text" required class="form-control" name="title" id="title">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Post content</label>
    <input type="text" required class="form-control" name="content" id="title">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Post description</label>
    <input type="text" required class="form-control" name="description" id="title">
  </div>
    <div class="mb-3">
    <label for="image" class="form-label">Post image</label>
    <input type="text" class="form-control" name="image" id="title">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>