<h1>Administratoriaus prisijungimas</h1>
<form action="/administratorius" method="post">
  <div class="mb-3">
    <label for="vardas" class="form-label">Vardas</label>
    <input type="text" required class="form-control" name="vardas" id="vardas">
  </div>
   <div class="mb-3">
    <label for="pavarde" class="form-label">Pavarde</label>
    <input type="text" required class="form-control" name="pavarde" id="pavarde">
  </div>
  <div class="mb-3">
    <label for="elpastas" class="form-label">El. paštas</label>
    <input type="text" required class="form-control" name="elpastas" id="elpastas">
  </div>
  <div class="mb-3">
    <label for="pass" class="form-label">Password</label>
    <input type="text" required class="form-control" name="pass" id="pass">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>